
/*select ALL our elements */
*, *::before, *::after{
  /*use to make it easier to size our elements */  
box-sizing: border-box;
font-family: 'Franklin Gothic Medium', sans-serif;
font-weight: normal;
} 

body{
    /*remove all padding and margin so background fills our ENTIRE screen */
    padding: 0;
    margin: 0;

    background: linear-gradient(to right , #00aaff, #00ff6c)
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    /*we want the grid to take up the full height 100%*/
    min-height: 100vh;
    
    /*4 columns, 100px wide*/
    grid-template-columns: repeat(4, 100px);
    /*we want our top row to be able to grow to accomodate long numbers - use minmax ,
    row is a@ min 120 px tall and max is auto */
    grid-template-rows: minmax(120px, auto) repeat(5, 100px)
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .70)
}

.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2; 
}

.output{
    grid-column: 1/ -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
    
}